/* Murfreesboro Regional Soccer League Chester Levine CWB 110 Unit D IC2*/
body {
  text-align: left;
  }
h1, #narsa {
  text-align: center;
  padding: 0.1em;
  margin: 0;
  }
h1 {
	font-size:2em;
}
#narsa {
	font-size:1.25em;
}
#head {
  border: 0.35em solid black;
  padding: 0;
  margin: 0;
  background: rgb(140,198,63);
  }
#box {
  width: 42em;
  margin-left: auto;
  margin-right: auto;
  }
#maintext {
  padding: 0.5em;
  border-left: 0.35em solid black;
  border-right: 0.35em solid black;
  }
#contact {
  text-align: right;
  padding: 0.5em;
  margin: 0;
  color:white;
  background:black;
  }
#name {
	font-weight:bold;
}
